# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.pnp
.pnp.js

# Production build
build/

# Optional cache
.cache
.tmp

# Testing
coverage/

# OS or Editor files
.DS_Store
.idea/
.vscode/

# Environment variables
.env
.env.*
!.env.example

# Yarn / NPM lockfiles (if you prefer ignoring one of them)
# yarn.lock
# package-lock.json

# Others
*.swp
*.swo
