/* Dashboard.css */
.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  margin-right: 350px;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recommendation-message {
  margin-top: 20px;
  background-color: #e9f7e9;
  color: #155724;
  padding: 10px 15px;
  border-left: 5px solid #1d5330;
  border-radius: 8px;
  font-size: 1rem;
}

/* User Progress Section */
.user-progress {
  width: 320px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-right: 0;
  }

  .user-progress {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 20px;
  }
}

.learning-paths-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.learning-path-card {
  flex: 1 1 calc(50% - 20px);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.learning-path-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.learning-path-card h3 {
  font-size: 1.5rem;
  color: #1d5330;
  margin-bottom: 10px;
}

.path-image {
  width: 80%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.learning-path-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.learning-path-card .button {
  margin-top: 10px;
}

.button--disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.dashboard-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button--logout {
  background: #ffd700;
  color: #002d0b;
  padding: 10px 15px;
  height: 50px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
}

.button--logout:hover {
  background: #e6c200;
}
