/* Dashboard.css */
.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden; 
}

.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: 250px; 
  padding: 20px;
}

.dashboard-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%; 
}

.main-section {
  flex: 2;
  max-width: calc(
    100% - 320px
  ); 
  padding-right: 320px; 
  overflow-x: hidden; 
  overflow-y: auto;
}

.learning-path-container {
  margin-top: 20px;
}

/* User Progress section */
.user-progress {
  width: 320px;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f4f4f4;
  overflow-y: auto; 
}

.streak-section {
  margin-top: 20px;
}

.dashboard h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.dashboard button {
  background-color: #004b1f;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.dashboard button:hover {
  background-color: #16a085;
}

.dashboard h2 {
  font-size: 1.3rem;
  color: #333;
}
