/* src/styles/Login.css */
body,
html {
  height: 100%;
  margin: 0;
}

.login-container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.login-container h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

.login-container input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #1abc9c;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.login-container button:hover {
  background-color: #16a085;
}

/* Add logo styles if needed */
.logo {
  max-width: 150px;
  margin-bottom: 20px;
}
