.questionnaire-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #002d0b; /* Dark forest green */
  text-align: center;
  margin-bottom: 20px;
}

.progress-bar {
  height: 10px;
  background-color: #4caf50;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.question-option {
  background-color: #002d0b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  width: 80%;
  transition: background-color 0.3s;
}

.question-option:hover {
  background-color: #014d16;
}

.loading-message {
  font-size: 18px;
  color: #777;
  text-align: center;
}

.question-box {
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
}

.question-option:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
