/* src/styles/Register.css */
.register-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.register-container form div {
  margin-bottom: 15px;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

.register-container input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register-container button {
  width: 100%;
  padding: 12px;
  background-color: #1abc9c;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.register-container button:hover {
  background-color: #1abc9c;
}
