/* src/styles/Register.css */

/* Reset body and html styles */
body,
html {
  height: 100%;
  margin: 0;
}

.register-container {
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center; /* Center text for register form */
}

.register-container h2 {
  font-size: 2rem;
  color: #002d0b; /* Dark Forest Green */
  margin-bottom: 20px;
}

.register-container form div {
  margin-bottom: 20px; /* Added more spacing between form fields */
}

.register-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.register-container input {
  width: 100%;
  padding: 12px; /* Increased padding for better spacing */
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.register-container input:focus {
  border-color: #002d0b; /* Dark Forest Green on focus */
  outline: none;
}

.register-container button {
  width: 100%;
  padding: 12px;
  background-color: #002d0b; /* Dark Forest Green */
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: #1d5330; /* Lighter green on hover */
}

/* Add logo styles specific to Register page */
.register-container .logo {
  max-width: 150px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; /* Center the logo */
}
