/* Welcome.css */

/* Center the Page */
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.welcome-content {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.welcome-logo {
  max-width: 150px;
  margin-bottom: 1.5rem;
}

.welcome-heading {
  font-size: 1.5rem;
  color: #002d0b;
  margin-bottom: 1.5rem;
}
