/* App.css */

/* Global Reset and Full Height */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Light background color for contrast */
  overflow-x: hidden;
}

/* Main Container for App Layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Adjusting full-page layout for pages without navbar */
.page-without-navbar {
  margin-left: 0;
  padding: 20px;
  width: 100%;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #002d0b; /* Dark Forest Green */
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Global Margins and Padding */
.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.m-2 {
  margin: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}
